<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Bernie Sanders</title>
		<link href="/static/style.css" rel="stylesheet">
		<script src="static/script.js"></script>
	</head>	
    <body onload="getDate()">
			<div class="container">
        <form autocomplete="off" action="https://www.google.com/search" method="get">
				<table>
					<thead><tr><th>
						<img src="https://images.squarespace-cdn.com/content/v1/584f6c2229687f064fe183d9/1611366085778-HH2KWJQEW8FTRJRMP7LR/TransparentBernie.png?format=1500w" width="100" height="100"
					</th></tr></thead>
					<tbody>
					<tr>
						<td>
            <input name="q" id="txtSearch" type="text" placeholder="Search berniesanders.com" onkeyup="toggleButton()">
						<input type="hidden" name="q" value="site:berniesanders.com">
            <input type="submit" disabled value="Search" name="btnSearch" id="btnSearch">
						   
						</td>
					</tr>
					<tr>
						<td class="footer"><img height="14px" src="static/leaf.png">&nbsp;&nbsp;Carbon neutral since 2023</td>
					</tr>
					<tr>
						<td class="footer">
							<a href="https://berniesanders.com/" target="_blank">
							Fight for that person you don’t even know</a>
						&nbsp;|&nbsp;<span id="date">[JAVASCRIPT DATE HERE]</span>
						</td>
					</tr>
					</tbody>
				</table>
        </form>
			</div>
    </body>
</html>
